.header {
    background: var(--background);
    border-bottom: 1px solid var(--border);

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;

    max-width: 957px;
    margin: 0 auto;
    width: 90%;
}

.header .container img {
    width: 120px;
}
